<a class="opendata" href="http://opendefinition.org/" target="_blank">
  <img alt="This material is Open Data" border="0" src="http://assets.okfn.org/images/ok_buttons/od_80x15_red_green.png" />
</a>

<a href="http://www.fjp.gov.br/" class="logo fjp" target="_blank"></a>
<a href="http://www.fapemig.br/" class="logo fapemig" target="_blank"></a>
<a href="http://www.escritorio.mg.gov.br/" class="logo governo" target="_blank"></a>

<a href="http://macroconnections.media.mit.edu/" class="logo mc" target="_blank"></a>
<a href="http://www.datawheel.us/" class="logo datawheel" target="_blank"></a>
