<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block content %}

  <header>

    {% include "templates/includes/nav.html" %}

  </header>

  <main>

    {% block body %}
    {% endblock %}

  </main>

  <footer>

    {% include "templates/includes/subnav.html" %}
    {% include "templates/includes/sponsors.html" %}

  </footer>

  <script src="/static/js/libs/fuse.min.js"></script>
  <script src="/static/js/libs/queue.min.js"></script>
  <script src="/static/js/libs/jquery-2.0.3.min.js"></script>
  <script src="/static/js/libs/typeahead.jquery.js"></script>

  <script src="/static/js/nav.js"></script>
  <script src="/static/js/paralax.js"></script>

{% endblock %}
