@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'),
    url(./fonts/merriweather/Merriweather-Regular.otf) format('opentype');
  unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'),
        url(./fonts/merriweather/Merriweather-Regular.otf) format('opentype');
    unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
        U2212, U2215, UE0FF, UEFFD, UF000; }

    @font-face {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 700;
      src: local('Merriweather Bold'), local('Merriweather-Bold'),
            url(./fonts/oswald/Merriweather-Bold.otf) format('opentype');
      unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

      @font-face {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        src: local('Merriweather Bold'), local('Merriweather-Bold'),
                url(./fonts/merriweather/Merriweather-Bold.otf) format('opentype');
        unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                U2212, U2215, UE0FF, UEFFD, UF000; }

        @font-face {
          font-family: 'Merriweather';
          font-style: italic;
          font-weight: 400;
          src: local('Merriweather Italic'), local('Merriweather-Italic'),
                    url(./fonts/merriweather/Merriweather-Italic.otf) format('opentype');
          unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

          @font-face {
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 400;
            src: local('Merriweather Italic'), local('Merriweather-Italic'),
                        url(./fonts/merriweather/Merriweather-Italic.otf) format('opentype');
            unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                        U2212, U2215, UE0FF, UEFFD, UF000; }

            @font-face {
              font-family: 'Merriweather';
              font-style: italic;
              font-weight: 700;
              src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
                            url(./fonts/merriweather/Merriweather-BoldItalic.otf) format('opentype');
              unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

              @font-face {
                font-family: 'Merriweather';
                font-style: italic;
                font-weight: 700;
                src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
                                url(./fonts/merriweather/Merriweather-BoldItalic.otf) format('opentype');
                unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                                U2212, U2215, UE0FF, UEFFD, UF000; }

                @font-face {
                  font-family: 'Oswald';
                  font-style: normal;
                  font-weight: 300;
                  src: local('Oswald Light'), local('Oswald-Light'),
                                    url(./fonts/oswald/Oswald-Light.otf) format('opentype');
                  unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

                  @font-face {
                    font-family: 'Oswald';
                    font-style: normal;
                    font-weight: 300;
                    src: local('Oswald Light'), local('Oswald-Light'),
                                        url(./fonts/oswald/Oswald-Light.otf) format('opentype');
                    unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                                        U2212, U2215, UE0FF, UEFFD, UF000; }

                    @font-face {
                      font-family: 'Oswald';
                      font-style: normal;
                      font-weight: 400;
                      src: local('Oswald Regular'), local('Oswald-Regular'),
                                            url(./fonts/oswald/Oswald-Regular.otf) format('opentype');
                      unicode-range: U100 -24f, U1 E00-1EFF, U20 A0-20AB, U20 AD-20CF, U2 C60-2C7F, UA720-A7FF; }

                      @font-face {
                        font-family: 'Oswald';
                        font-style: normal;
                        font-weight: 400;
                        src: local('Oswald Regular'), local('Oswald-Regular'),
                                                url(./fonts/oswald/Oswald-Regular.otf) format('opentype');
                        unicode-range: U0 0ff, U131, U152 -153, U2 C6, U2da, U2dc, U2000 -206f, U2074, U20ac,
                                                U2212, U2215, UE0FF, UEFFD, UF000; }
div#login_div {
  color: #333;
  font-size: 11px;
  left: 50%;
  margin-left: -150px;
  margin-top: -180px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 300px; }

  div#login_text {
    font-size: 11px;
    margin: 12px 0px;
    text-align: left; }

    div#denied_text {
      font-size: 15px;
      line-height: 20px;
      margin: 12px 0px;
      text-align: left; }

      a.terms {
        color: #af1f24;
        display: inline-block;
        margin: 0px auto 10px; }

        a.terms:hover {
          color: #333; }

          a.login_button {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 95% 95%;
            display: inline-block;
            height: 50px;
            margin: 12px;
            width: 50px; }

            a.login_button:hover {
              background-size: 100% 100%; }

              a#Google.login_button {
                background-image: url("/static/img/icons/login/login_google.png"); }

                a#Facebook.login_button {
                  background-image: url("/static/img/icons/login/login_facebook.png"); }

                  a#Twitter.login_button {
                    background-image: url("/static/img/icons/login/login_twitter.png"); }
