table {
	border-collapse: collapse;
	font-size: 12px;
}

th {
	background-color: #444;
	color: white;
  text-align: left;
}

tr:nth-child(odd) {
	background-color: #ddd;
}

td, th {
	padding: 5px 7px;
}